body {
    background-color: rgb(159, 170, 60);
    text-align: center;
    
}
button {
    background-color: #c92222;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    float: center;
    margin: 2px;
    
}
img {
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 2px;
}